.send-mail-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.send-mail-btn:hover {
  background-color: #45a049;
}

.send-mail-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
